<h2 class="screen-align">Meal box details</h2>
<div id="template-idzb" class="gjs-row">
    <div id="template-idd6" class="gjs-cell">
        <div id="template-iae126" class="gjs-row">
            <div id="template-i3aglh" class="gjs-cell">
                <img id="template-ihlsxz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logo1.png"
                class="" />
            </div>
        </div>
        <div id="template-ixqf" class="gjs-row">
            <div id="template-id7i" class="gjs-cell">
                <div id="template-i2gk" class="">
<span id="template-i2ah" class="">
<div id="template-i5h6c" class="">
MENU</div>
</span>

                </div>
                <div id="template-ip9i5" class="gjs-row">
                    <div id="template-ifuxr" class="gjs-cell">
                        <div id="template-ibwvf" class="gjs-row">
                            <div id="template-i1a71" class="gjs-cell">
                                <img id="template-izyzy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home.png"
                                class="" />
                            </div>
                            <div id="template-i2mor" class="gjs-cell">
                                <div id="template-iiwkg" class="">
<span id="template-ix09x" class="">
<div id="template-i44xk" class="">
Home</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i0sl3" class="gjs-row">
                            <div id="template-i2ecy" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community.png"
                                id="template-ia6yq" class="" />
                            </div>
                            <div id="template-iwzvy" class="gjs-cell">
                                <div id="template-igq87" class="">
<span id="template-iuco4" class="">
<div id="template-iaunt" class="">
Community</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-ixv9t" class="gjs-row">
                            <div id="template-iv0kt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20my%20features.png"
                                id="template-ixx0h" class="" />
                            </div>
                            <div id="template-i4e57" class="gjs-cell">
                                <div id="template-igfvq" class="">
<span id="template-i7r09" class="">
<div id="template-ijd9w" class="">
My Features</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-io1bl" class="gjs-row">
                            <div id="template-iusli" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer.png"
                                id="template-ie28b" class="" />
                            </div>
                            <div id="template-iy6je" class="gjs-cell">
                                <div id="template-iq2q8" class="">
<span id="template-ifs56" class="">
<div id="template-igzjl" class="">
Trainer</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i1mne" class="gjs-row">
                            <div id="template-issmd" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile.png"
                                id="template-iksrh" class="" />
                            </div>
                            <div id="template-ilbeg" class="gjs-cell">
                                <div id="template-i01e4" class="">
<span id="template-il3ue" class="">
<div id="template-icqox" class="">
Profile</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id40h" class="gjs-row">
            <div id="template-i0o9l" class="gjs-cell">
                <div id="template-i7ut96" class="gjs-row">
                    <div id="template-ig8xmv" class="gjs-cell">
                        <img id="template-if2dbz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                        class="" />
                    </div>
                    <div id="template-ie9i4s" class="gjs-cell">
                        <div id="template-i95lcc" class="">
                            <div id="template-i0wshg" class="">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-itfo" class="gjs-cell">
        <div id="template-i2s3s" class="gjs-row">
            <div id="template-ichy5" class="gjs-cell">
                <img id="template-i9qfn" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20arrow%201.png"
                class="" />
            </div>
            <div id="template-ijkdv" class="gjs-cell">
                <div id="template-innfz" class="">
                    <div id="template-iky4x" class="">Choose the meal that you wish to track</div>
                </div>
            </div>
            <div id="template-iplkex" class="gjs-cell">
                <input id="template-it8bl4" placeholder="Search" class="input form-control "
                />
            </div>
        </div>
        <div id="template-il2yh" class="gjs-row">
            <div id="template-irr8c" class="gjs-cell">
                <div id="template-igezt" class="gjs-row">
                    <div id="template-i48ff" class="gjs-cell">
                        <div id="template-ianqk" class="">
                            <div id="template-i1l3h" class="">Breakfast</div>
                        </div>
                    </div>
                    <div id="template-iwm3n" class="gjs-cell">
                        <div id="template-idkek" class="">
                            <div id="template-igq8q" class="">Morning Snack</div>
                        </div>
                    </div>
                    <div id="template-iiiev" class="gjs-cell">
                        <div id="template-iedf1" class="">
                            <div id="template-im3ur" class="">Lunch</div>
                        </div>
                    </div>
                    <div id="template-iei5v" class="gjs-cell">
                        <div id="template-i3yh5" class="">
                            <div id="template-iew3h" class="">Evening Snack</div>
                        </div>
                    </div>
                    <div id="template-ilbd8" class="gjs-cell">
                        <div id="template-iudwx" class="">
                            <div id="template-i3iav" class="">Dinner</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ihbywk" class="gjs-row">
            <div id="template-izjrvv" class="gjs-cell">
                <div id="template-itthd1" class="">
<span id="template-ifxcxd" class="">
<div id="template-icbnyk" class="">
Choose the meal</div>
</span>

                </div>
            </div>
            <div id="template-ijvr51" class="gjs-cell">
                <div id="template-i4cp4l" class="">
                    <ng-select id="template-ibb7fq" name="dynamicdropdown_template-ibb7fq"
                    [searchable]="true" [virtualScroll]="true" [items]="itemArray" bindLabel=""
                    bindValue="" class="form-control "></ng-select>
                </div>
                <div value="1" id="template-icbrkn" class="">
                    <div id="template-i0fqsg" class="">1</div>
                </div>
            </div>
        </div>
        <div id="template-i5or3c" class="gjs-row">
            <div id="template-i4bbxt" class="gjs-cell">
                <div id="template-iu134" class="gjs-row">
                    <div id="template-iw55z" class="gjs-cell">
                        <div id="template-ifklg" class="">
                            <div id="template-im1sr" class="">Food</div>
                        </div>
                        <div id="template-ivpewi" class="">
                            <div id="template-i6sb9w" class="">Drink</div>
                        </div>
                        <div id="template-iur9sp" class="">
                            <div id="template-iogsa9" class="">Meal Box</div>
                        </div>
                    </div>
                </div>
                <div id="template-ioqgs" class="gjs-row">
                    <div id="template-i7wig" class="gjs-cell"></div>
                </div>
                <div id="template-i0ixyc" class="gjs-row">
                    <div id="template-imacqv" class="gjs-cell"></div>
                </div>
                <div id="template-inrh7w" class="gjs-row">
                    <div id="template-ij5vr9" class="gjs-cell"></div>
                </div>
                <div id="template-iz27ai" class="gjs-row">
                    <div id="template-i3ehsg" class="gjs-cell"></div>
                </div>
                <div id="template-io6g1i" class="gjs-row">
                    <div id="template-iopybm" class="gjs-cell"></div>
                </div>
                <div id="template-i5zvcm" class="gjs-row"></div>
                <div id="template-i0rm76" class="gjs-row">
                    <div id="template-i0ekmd" class="gjs-cell">
                        <div id="template-ifc67q" class="gjs-row">
                            <div id="template-inltqf" class="gjs-cell">
                                <div id="template-i4d7ix" class="">
                                    <div id="template-imzrm4" class="">Idli (Plain)</div>
                                </div>
                            </div>
                            <div id="template-iicopd" class="gjs-cell">
                                <div id="template-icb89m" class="">
                                    <div id="template-iminir" class="">1.0 Serving (2.0 Piece)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-iu42jl" class="gjs-cell">
                        <div id="template-itdklv" class="gjs-row">
                            <div id="template-iex9kh" class="gjs-cell">
                                <div id="template-iqakax" class="">
                                    <div id="template-isunq8" class="">48 Cal</div>
                                </div>
                            </div>
                            <div id="template-i6539e" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/plus.png"
                                id="template-i3wxsh" class="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-i0vt1d" class="gjs-row">
                    <div id="template-i9vvwm" class="gjs-cell">
                        <div id="template-ie9yn3" class="gjs-row">
                            <div id="template-irnfah" class="gjs-cell">
                                <div id="template-id099f" class="">
                                    <div id="template-idgfjz" class="">Idli (Plain)</div>
                                </div>
                            </div>
                            <div id="template-it769t" class="gjs-cell">
                                <div id="template-ikxr8g" class="">
                                    <div id="template-izn2o7" class="">1.0 Serving (2.0 Piece)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-iuvcud" class="gjs-cell">
                        <div id="template-iq4hcf" class="gjs-row">
                            <div id="template-ircv5g" class="gjs-cell">
                                <div id="template-i97b9x" class="">
                                    <div id="template-inaa4q" class="">48 Cal</div>
                                </div>
                            </div>
                            <div id="template-i2uj3k" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/plus.png"
                                id="template-iou78j" class="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-ifb9ab" class="gjs-row">
                    <div id="template-izhbtk" class="gjs-cell">
                        <div id="template-icp1yi" class="gjs-row">
                            <div id="template-i2veau" class="gjs-cell">
                                <div id="template-ijmj4h" class="">
                                    <div id="template-i0a0bj" class="">Idli (Plain)</div>
                                </div>
                            </div>
                            <div id="template-iiw1eq" class="gjs-cell">
                                <div id="template-icwouz" class="">
                                    <div id="template-i34z9a" class="">1.0 Serving (2.0 Piece)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-i3b87k" class="gjs-cell">
                        <div id="template-immxxo" class="gjs-row">
                            <div id="template-i33fdh" class="gjs-cell">
                                <div id="template-itnnrj" class="">
                                    <div id="template-irtq4z" class="">48 Cal</div>
                                </div>
                            </div>
                            <div id="template-ivod8n" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/plus.png"
                                id="template-i5r7ff" class="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-iryhsi" class="gjs-row">
                    <div id="template-iqg5h4" class="gjs-cell">
                        <div id="template-is3p0w" class="gjs-row">
                            <div id="template-izvpws" class="gjs-cell">
                                <div id="template-inba94" class="gjs-row">
                                    <div id="template-i74prz" class="gjs-cell">
                                        <div id="template-io20ou" class="">
                                            <div id="template-i69r44" class="">Meal Name</div>
                                        </div>
                                    </div>
                                    <div id="template-ii9qg4" class="gjs-cell">
                                        <div id="template-ikscez" class="">
                                            <div id="template-io0a9i" class="">Cal Consumed 78 Of 500</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-io08nc" class="gjs-cell">
                                <div id="template-iu6fp4" class="gjs-row">
                                    <div id="template-iv5bwf" class="gjs-cell">
                                        <div id="template-iaer1o" class="gjs-row">
                                            <div id="template-ipk4zf" class="gjs-cell">
                                                <input type="checkbox" id="template-ibwswv" class="checkbox form-control "
                                                />
                                            </div>
                                            <div id="template-if60yh" class="gjs-cell">
                                                <img id="template-io9g0c" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018390.png"
                                                class="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-irxvx6" class="gjs-row">
                            <div id="template-ib6oou" class="gjs-cell">
                                <div id="template-i9b5is" class="gjs-row">
                                    <div id="template-i5up4i" class="gjs-cell">
                                        <div id="template-ijbkvd" class="">
                                            <div id="template-ixym1e" class="">Idli (Plain)</div>
                                        </div>
                                    </div>
                                    <div id="template-iw61k3" class="gjs-cell">
                                        <div id="template-i2hb8i" class="">
                                            <div id="template-i6y7hy" class="">1.0 Serving (2.0 Piece) </div>
<b id="template-ibvdj9" class="">
<div id="template-idk8zf" class="">
48 Cal</div>
</b>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-inphgi" class="gjs-cell">
                                <div id="template-iv7jtl" class="gjs-row">
                                    <div id="template-ipjyhs" class="gjs-cell">
                                        <div id="template-iezcw4" class="gjs-row">
                                            <div id="template-ikhytt" class="gjs-cell">
                                                <div id="template-iebl8s" class="gjs-row">
                                                    <div id="template-iz80xg" class="gjs-cell">
                                                        <img id="template-i1t7qm" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Path%205884.png"
                                                        class="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="template-iy1uvf" class="gjs-cell">
                                                <div id="template-i1qvmh" class="gjs-row">
                                                    <div id="template-ikcyag" class="gjs-cell">
                                                        <div id="template-ign4dz" class="">
                                                            <div id="template-ioq6py" class="">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="template-ic69gj" class="gjs-cell">
                                                <div id="template-i0l7pc" class="gjs-row">
                                                    <div id="template-iatzni" class="gjs-cell">
                                                        <img id="template-i8givg" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/plus.png"
                                                        class="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-ii74rl" class="gjs-cell">
                                        <img id="template-irq7r3" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/noun-delete-4983693.png"
                                        class="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="template-i2n52f" class="gjs-row">
                            <div id="template-ie3wrk" class="gjs-cell"></div>
                        </div>
                        <div id="template-iytxdz" class="gjs-row">
                            <div id="template-izto4h" class="gjs-cell">
                                <div id="template-iafggf" class="gjs-row">
                                    <div id="template-ifaqxt" class="gjs-cell">
                                        <div id="template-i36c5s" class="">
                                            <div id="template-ioezfh" class="">Idli (Plain)</div>
                                        </div>
                                    </div>
                                    <div id="template-ic8xjc" class="gjs-cell">
                                        <div id="template-ihmldo" class="">
                                            <div id="template-il914n" class="">1.0 Serving (2.0 Piece) </div>
<b id="template-izrvyk" class="">
<div id="template-ie1ru6" class="">
48 Cal</div>
</b>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="template-izd0hq" class="gjs-cell">
                                <div id="template-if6j07" class="gjs-row">
                                    <div id="template-i7xgbm" class="gjs-cell">
                                        <div id="template-ih79fx" class="gjs-row">
                                            <div id="template-iyrndi" class="gjs-cell">
                                                <div id="template-igju9j" class="gjs-row">
                                                    <div id="template-itvjax" class="gjs-cell">
                                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Path%205884.png"
                                                        id="template-ia62xw" class="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="template-ig2tgf" class="gjs-cell">
                                                <div id="template-ik2vil" class="gjs-row">
                                                    <div id="template-id5tj5" class="gjs-cell">
                                                        <div id="template-ih7i1q" class="">
                                                            <div id="template-iypnwm" class="">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="template-i2d64k" class="gjs-cell">
                                                <div id="template-ipt2wx" class="gjs-row">
                                                    <div id="template-ibtzr2" class="gjs-cell">
                                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/plus.png"
                                                        id="template-i5ksof" class="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="template-is8mn2" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/noun-delete-4983693.png"
                                        id="template-ib9nmu" class="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-i9aesa" class="gjs-row">
            <div id="template-inz1bj" class="gjs-cell"></div>
        </div>
        <div id="template-i7h7mu" class="gjs-row">
            <div id="template-insyqj" class="gjs-cell">
                <button id="template-if5bao" class="button btn btn-primary ">
                    <div id="template-idipdk" class="">Track</div>
                </button>
            </div>
        </div>
    </div>
    <div id="template-iziz" class="gjs-cell">
        <div id="template-ix09fg" class="gjs-row">
            <div id="template-i8vna5" class="gjs-cell">
                <div id="template-ihrr9l" class="gjs-row">
                    <div id="template-i9w0nk" class="gjs-cell">
                        <div id="template-i8oyqg" class="">
                            <div id="template-ibxtuh" class="">Ragav</div>
                        </div>
                    </div>
                    <div id="template-iqdak4" class="gjs-cell">
                        <img id="template-i2t9kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/profile.png"
                        class="" />
                    </div>
                </div>
                <div id="template-ir1nd4" class="gjs-row">
                    <div id="template-i3pyqy" class="gjs-cell">
                        <img id="template-ims38g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/images.png"
                        class="" />
                        <div id="template-ibsi1l" class="">
                            <div id="template-i2nd0z" class="">Healthy Eating Is A Way Of Life, So Its Important To Establish Routines That
                                Are Simple, Realistic And Ultimately Liveable.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz5gxw" class="gjs-row">
            <div id="template-i7g2xl" class="gjs-cell">
                <div id="template-ij88vi" class="">
                    <div id="template-ih6lej" class="">Your free recommendations have been exhausted. go premium now to get unlimited
                        access</div>
                    <br id="template-it3v8t" class="">
                </div>
                <div id="template-iyeyt6" class="">
                    <div id="template-iq85l7" class="">Get A Complete Study Of Your Meal With Appropriate Food And Top Contributors.</div>
                </div>
                <button id="template-i1rq9h" class="button btn btn-primary ">
                    <div id="template-ixhuqx" class="">Unlock</div>
                </button>
            </div>
        </div>
    </div>
</div>